#menu-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1pc;
    background-color: #FFDAB9;
    height: 20px;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0%;
    top:  0%;
}

.contenedor {
    width: 90%;          
    max-width: 1200px;   
    margin: 0 auto;     
}

summary.faq {
font-weight: 700;
font-size: 1.2 rem;
color: rgb(239, 158, 45);
}

.tam-imagen.decor-imagen {

width:"600px";
height:"400px";
border-radius: 10%;

}

.preguntas-frecuentes .descendiente {

font-style: oblique;    
}